@font-face {
  font-family: Electrolize;
  src: url('../../fonts/Electrolize/Electrolize-Regular.ttf');
}
@font-face {
  font-family: Jura;
  src: url('../../fonts/Jura/Jura-Regular.ttf');
}
@font-face {
  font-family: Jura-Light;
  src: url('../../fonts/Jura/Jura-Light.ttf');
}
@font-face {
  font-family: Jura-Medium;
  src: url('../../fonts/Jura/Jura-Medium.ttf');
}
@font-face {
  font-family: Jura-DemiBold;
  src: url('../fonts/Jura/Jura-DemiBold.ttf');
}
.electrolize {
  font-family: "Electrolize", "Jura-Medium", 'Helvetica-Neue', 'Helvetica-Neue', 'Tahoma';
}
.jura {
  font-family: "Jura", 'Helvetica-Neue', 'Helvetica-Neue', 'Tahoma';
}
.jural {
  font-family: "Jura-Light", 'Helvetica-Neue', 'Helvetica-Neue', 'Tahoma';
}
.juram {
  font-family: "Jura-Medium", 'Helvetica-Neue', 'Helvetica-Neue', 'Tahoma';
}
.jurab {
  font-family: 'Jura-DemiBold', 'Helvetica-Neue', 'Helvetica-Neue', 'Tahoma';
}
/* #61B329 ; /* #18BC9C; */
/* #2980b9; /* #3498DB; */
/* #F39C12; */
/* #E74C3C; */
body {
  background: #f5f1ff;
  padding-top: 70px;
  padding-bottom: 30px;
  font-family: "Electrolize", "Jura-Medium", 'Helvetica-Neue', 'Helvetica-Neue', 'Tahoma';
  color: #25102f;
}
.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-default:active,
.btn-primary:active,
.btn-success:active,
.btn-info:active,
.btn-warning:active,
.btn-danger:active,
.btn-default.active,
.btn-primary.active,
.btn-success.active,
.btn-info.active,
.btn-warning.active,
.btn-danger.active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn-default .badge,
.btn-primary .badge,
.btn-success .badge,
.btn-info .badge,
.btn-warning .badge,
.btn-danger .badge {
  text-shadow: none;
}
.btn:active,
.btn.active {
  background-image: none;
}
.btn-default {
  background: #c3b5c9;
  color: #421c52;
  border-color: #a692af;
}
.btn-primary {
  background: #8c489f;
  border-color: #421c52;
}
.btn-success {
  background: #27ae60;
}
.btn-info {
  background: #3498db;
  border-color: #1f74ae;
}
.btn-warning {
  background: #f39c12;
}
.btn-danger {
  background: #c0392b;
  border-color: #8a291f;
}
.label-default {
  background: #c3b5c9;
  color: #421c52;
}
.label-primary {
  background: #8c489f;
}
.label-success {
  background: #27ae60;
}
.label-info {
  background: #3498db;
}
.label-warning {
  background: #f39c12;
}
.label-danger {
  background: #c0392b;
}
.thumbnail,
.img-thumbnail {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-image: -webkit-linear-gradient(top, #8c489f 0%, #7d408d 100%);
  background-image: -o-linear-gradient(top, #8c489f 0%, #7d408d 100%);
  background-image: linear-gradient(to bottom, #8c489f 0%, #7d408d 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8c489f', endColorstr='#ff7d408d', GradientType=0);
  background-color: #7d408d;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-image: -webkit-linear-gradient(top, #8c489f 0%, #7d408d 100%);
  background-image: -o-linear-gradient(top, #8c489f 0%, #7d408d 100%);
  background-image: linear-gradient(to bottom, #8c489f 0%, #7d408d 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8c489f', endColorstr='#ff7d408d', GradientType=0);
  background-color: #7d408d;
}
.navbar-default {
  background: #c3b5c9;
  color: #421c52;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .active > a {
  background-image: -webkit-linear-gradient(top, #9f89a9 0%, #a692af 100%);
  background-image: -o-linear-gradient(top, #9f89a9 0%, #a692af 100%);
  background-image: linear-gradient(to bottom, #9f89a9 0%, #a692af 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9f89a9', endColorstr='#ffa692af', GradientType=0);
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
}
.navbar-brand,
.navbar-nav > li > a {
  color: #421c52 !important;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}
.navbar-inverse {
  background: #421c52;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .active > a {
  background-image: -webkit-linear-gradient(top, #33163f 0%, #3a1948 100%);
  background-image: -o-linear-gradient(top, #33163f 0%, #3a1948 100%);
  background-image: linear-gradient(to bottom, #33163f 0%, #3a1948 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff33163f', endColorstr='#ff3a1948', GradientType=0);
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.25);
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  color: #ffffff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {
  border-radius: 0;
}
@media (max-width: 767px) {
  .navbar .navbar-nav .open .dropdown-menu > .active > a,
  .navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-image: -webkit-linear-gradient(top, #8c489f 0%, #7d408d 100%);
    background-image: -o-linear-gradient(top, #8c489f 0%, #7d408d 100%);
    background-image: linear-gradient(to bottom, #8c489f 0%, #7d408d 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8c489f', endColorstr='#ff7d408d', GradientType=0);
  }
}
.alert {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.alert-success {
  background-image: -webkit-linear-gradient(top, #27ae60 0%, #208f4f 100%);
  background-image: -o-linear-gradient(top, #27ae60 0%, #208f4f 100%);
  background-image: linear-gradient(to bottom, #27ae60 0%, #208f4f 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff27ae60', endColorstr='#ff208f4f', GradientType=0);
  border-color: #19703e;
  color: #ffffff;
}
.alert-info {
  background-image: -webkit-linear-gradient(top, #3498db 0%, #2384c6 100%);
  background-image: -o-linear-gradient(top, #3498db 0%, #2384c6 100%);
  background-image: linear-gradient(to bottom, #3498db 0%, #2384c6 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3498db', endColorstr='#ff2384c6', GradientType=0);
  border-color: #1d6fa5;
  color: #ffffff;
}
.alert-warning {
  background-image: -webkit-linear-gradient(top, #f39c12 0%, #d4860b 100%);
  background-image: -o-linear-gradient(top, #f39c12 0%, #d4860b 100%);
  background-image: linear-gradient(to bottom, #f39c12 0%, #d4860b 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff39c12', endColorstr='#ffd4860b', GradientType=0);
  border-color: #b06f09;
  color: #ffffff;
}
.alert-danger {
  background-image: -webkit-linear-gradient(top, #c0392b 0%, #a13024 100%);
  background-image: -o-linear-gradient(top, #c0392b 0%, #a13024 100%);
  background-image: linear-gradient(to bottom, #c0392b 0%, #a13024 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc0392b', endColorstr='#ffa13024', GradientType=0);
  border-color: #81261d;
  color: #ffffff;
}
.progress {
  background-image: -webkit-linear-gradient(top, #e0e7e8 0%, #ecf0f1 100%);
  background-image: -o-linear-gradient(top, #e0e7e8 0%, #ecf0f1 100%);
  background-image: linear-gradient(to bottom, #e0e7e8 0%, #ecf0f1 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe0e7e8', endColorstr='#ffecf0f1', GradientType=0);
}
.progress-bar {
  background-image: -webkit-linear-gradient(top, #8c489f 0%, #6d387c 100%);
  background-image: -o-linear-gradient(top, #8c489f 0%, #6d387c 100%);
  background-image: linear-gradient(to bottom, #8c489f 0%, #6d387c 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8c489f', endColorstr='#ff6d387c', GradientType=0);
}
.progress-bar-success {
  background-image: -webkit-linear-gradient(top, #27ae60 0%, #1e8449 100%);
  background-image: -o-linear-gradient(top, #27ae60 0%, #1e8449 100%);
  background-image: linear-gradient(to bottom, #27ae60 0%, #1e8449 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff27ae60', endColorstr='#ff1e8449', GradientType=0);
}
.progress-bar-info {
  background-image: -webkit-linear-gradient(top, #3498db 0%, #217dbb 100%);
  background-image: -o-linear-gradient(top, #3498db 0%, #217dbb 100%);
  background-image: linear-gradient(to bottom, #3498db 0%, #217dbb 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3498db', endColorstr='#ff217dbb', GradientType=0);
}
.progress-bar-warning {
  background-image: -webkit-linear-gradient(top, #f39c12 0%, #c87f0a 100%);
  background-image: -o-linear-gradient(top, #f39c12 0%, #c87f0a 100%);
  background-image: linear-gradient(to bottom, #f39c12 0%, #c87f0a 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff39c12', endColorstr='#ffc87f0a', GradientType=0);
}
.progress-bar-danger {
  background-image: -webkit-linear-gradient(top, #c0392b 0%, #962d22 100%);
  background-image: -o-linear-gradient(top, #c0392b 0%, #962d22 100%);
  background-image: linear-gradient(to bottom, #c0392b 0%, #962d22 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc0392b', endColorstr='#ff962d22', GradientType=0);
}
.progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.list-group {
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  text-shadow: 0 -1px 0 #6d387c;
  background-image: -webkit-linear-gradient(top, #8c489f 0%, #753c85 100%);
  background-image: -o-linear-gradient(top, #8c489f 0%, #753c85 100%);
  background-image: linear-gradient(to bottom, #8c489f 0%, #753c85 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8c489f', endColorstr='#ff753c85', GradientType=0);
  border-color: #753c85;
}
.list-group-item.active .badge,
.list-group-item.active:hover .badge,
.list-group-item.active:focus .badge {
  text-shadow: none;
}
.panel {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.panel-default > .panel-heading {
  background-image: -webkit-linear-gradient(top, #ecf0f1 0%, #dde4e6 100%);
  background-image: -o-linear-gradient(top, #ecf0f1 0%, #dde4e6 100%);
  background-image: linear-gradient(to bottom, #ecf0f1 0%, #dde4e6 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffecf0f1', endColorstr='#ffdde4e6', GradientType=0);
}
.panel-primary > .panel-heading {
  background-image: -webkit-linear-gradient(top, #8c489f 0%, #7d408d 100%);
  background-image: -o-linear-gradient(top, #8c489f 0%, #7d408d 100%);
  background-image: linear-gradient(to bottom, #8c489f 0%, #7d408d 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8c489f', endColorstr='#ff7d408d', GradientType=0);
}
.panel-success > .panel-heading {
  background-image: -webkit-linear-gradient(top, #27ae60 0%, #229955 100%);
  background-image: -o-linear-gradient(top, #27ae60 0%, #229955 100%);
  background-image: linear-gradient(to bottom, #27ae60 0%, #229955 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff27ae60', endColorstr='#ff229955', GradientType=0);
}
.panel-info > .panel-heading {
  background-image: -webkit-linear-gradient(top, #3498db 0%, #258cd1 100%);
  background-image: -o-linear-gradient(top, #3498db 0%, #258cd1 100%);
  background-image: linear-gradient(to bottom, #3498db 0%, #258cd1 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3498db', endColorstr='#ff258cd1', GradientType=0);
}
.panel-warning > .panel-heading {
  background-image: -webkit-linear-gradient(top, #f39c12 0%, #e08e0b 100%);
  background-image: -o-linear-gradient(top, #f39c12 0%, #e08e0b 100%);
  background-image: linear-gradient(to bottom, #f39c12 0%, #e08e0b 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff39c12', endColorstr='#ffe08e0b', GradientType=0);
}
.panel-danger > .panel-heading {
  background-image: -webkit-linear-gradient(top, #c0392b 0%, #ab3326 100%);
  background-image: -o-linear-gradient(top, #c0392b 0%, #ab3326 100%);
  background-image: linear-gradient(to bottom, #c0392b 0%, #ab3326 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc0392b', endColorstr='#ffab3326', GradientType=0);
}
.well {
  background-image: -webkit-linear-gradient(top, #dde4e6 0%, #ecf0f1 100%);
  background-image: -o-linear-gradient(top, #dde4e6 0%, #ecf0f1 100%);
  background-image: linear-gradient(to bottom, #dde4e6 0%, #ecf0f1 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdde4e6', endColorstr='#ffecf0f1', GradientType=0);
  border-color: #cfd9db;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
}
.jumbotron {
  background: #c3b5c9;
  border: 0px solid #421c52;
  color: #421c52;
}
.carousel .item img {
  width: 100%;
}
